{% extends 'main.html' %} {% block content %}
<h1>Home Template</h1>

<div>
  <h3>Rooms</h3>
  <a href="{% url 'create-room' %}">Create Room</a>
  <ul>
    {% for room in rooms %}
    <li style="display: flex; align-items: center; column-gap: 2rem">
      <span style="margin-right: 10px">@{{room.host.username}} </span>
      <div style="display: flex;">
        <h5>{{room.id}} --</h5>
        <h3>
          <a href="{% url 'room' room.id %}"> {{room.name}} </a>
        </h3>
      </div>
      <small>{{room.topic.name}}</small>
      <a style="color:goldenrod" href="{% url 'update-room' room.id%}">EDIT</a>
      <a style="color:crimson" href="{% url 'delete-room' room.id%}">DEL</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
