{% extends 'main.html' %} {% block content %}
<div class="home-container grid grid-cols-[1fr_3fr] mt-4">
  <div class="topics-container">
    <h3>Browse Topics</h3>
    <hr />
    <a href="{% url 'home'%}">All</a>
    {% for topic in topics %}
    <div class="topic">
      <a href="{% url 'home'%}?q={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>
  <div>
    <h5>{{room_count}} rooms available.</h5>
    <a href="{% url 'create-room' %}">Create Room</a>
    <ul>
      {% for room in rooms %}
      <li style="display: flex; align-items: center; column-gap: 2rem">
        {% if request.user == room.host %}
        <a style="color: goldenrod" href="{% url 'update-room' room.id%}">EDIT</a>
        <a style="color: crimson" href="{% url 'delete-room' room.id%}">DEL</a>
        {% endif %}
        <span style="margin-right: 10px">@{{room.host.username}} </span>
        <div style="display: flex">
          <h5>{{room.id}} --</h5>
          <h3>
            <a href="{% url 'room' room.id %}"> {{room.name}} </a>
          </h3>
        </div>
        <small>{{room.topic.name}}</small>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
