{% extends 'main.html' %}

{% block content %}
  <div>
    <form method="POST" action="">
      {% csrf_token %}
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <button type="submit" class="bg-slate-600 p-2 text-amber-50 border border-white">Login</button>
      </div>
    </form> 
  </div>
{% endblock %}