{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
  <div class="login-form">
    <form method="POST" action="">
      {% csrf_token %}
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <button type="submit" class="bg-slate-600 p-2 text-amber-50 border border-white">Login</button>
      </div>
    </form> 
    <p>Haven't singned up yet? <a href="{% url 'register' %}">Sign Up</a> </p>
  </div>
{% else %}
  <div class="register-form mt-4">
    <form method="POST" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bg-emerald-500 p-2 text-black border-2 border-black">Register</button>
      
    </form> 
    <p>Already singned up? <a href="{% url 'login' %}">Login</a> </p>
  </div>
{% endif %}
{% endblock %}